.DiscoverSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}

.DiscoverSearch .inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.DiscoverSearch > form {
  width: 100%;
}

.DiscoverSearch select {
  border-radius: 0.5rem;
  height: 1.5rem;
  min-width: 115px;
  text-align: center;
}

.DiscoverSearch .discoverSearchButton {
  background-color: #289fed;
  border-radius: 1rem;
  border: none;
  color: white;
  margin: 1rem;
  padding: 0 1.25rem 2px 1.25rem;
  padding-bottom: 2px;
  height: 2.6rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  font-weight: bold;
}

@media only screen and (max-width: 1068px) {
  .DiscoverSearch {
    width: 100%;
  }

  .DiscoverSearch > form {
    width: 100%;
  }

  .DiscoverSearch .inputContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .DiscoverSearch {
    width: 50%;
  }

  .DiscoverSearch .inputContainer {
    flex-direction: column;
  }

  .DiscoverSearch .inputContainer > div {
    display: flex;
    flex-direction: column;
  }

  .DiscoverSearch .inputContainer > div:nth-child(-n + 2) {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (max-width: 480px) {
  .DiscoverSearch {
    width: 75%;
  }
}
