.MoviePage {
  font-weight: 600;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.MoviePage .movieContainer {
  margin: 1rem;
  padding: 1rem;
  max-width: 75%;
  display: flex;
  background-color: #192734;
  /* justify-content: space-evenly; */
}

.MoviePage .movieInfo {
  margin-left: 1rem;
}

.MoviePage h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.MoviePage h4 {
  font-size: 1.25rem;
  font-weight: bolder;
}

.MoviePage .rated {
  border: 1px solid white;
  padding: 3px;
  margin-right: 10px;
}

.MoviePage p.tagLine {
  color: #8899a6;
  font-style: italic;
}

.MoviePage .Rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  /* margin: 0 auto; */
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
  border: #15202b 2px solid;
}

.MoviePage .RatingInner {
  background-color: #15202b;
  border-radius: 50%;
  padding: 10px;
  min-width: 25px;
  height: 25px;
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MoviePage .Percent {
  font-size: 0.65rem;
  font-weight: normal;
}

.MoviePage .ratingWatchContainer {
  display: flex;
}

.MoviePage button {
  background-color: #22303c;
  border: none;
  color: white;
  margin-left: 25px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  font-weight: bold;
}

.MoviePage button:hover {
  background-color: #8899a6;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .MoviePage .movieContainer {
    flex-direction: column;
    justify-content: center;
  }

  .MoviePage .movieImageContainer {
    width: 100%;
    text-align: center;
  }

  .MoviePage .movieInfo {
    margin: 0;
    text-align: center;
  }

  .MoviePage .ratingWatchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
