h1 {
  text-align: center;
  margin-top: 0px;
}

h2 {
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  font-size: larger;
  top: 0;
  background-color: #22303c;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  box-shadow: 0 0 20px black;
}

.Header .logoContainer {
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.Header .reel {
  background-color: white;
  border: 2px dashed black;
}

.Header .logo {
  background-color: #289fed;
  padding: 0.25rem;
  margin: 5px 0;
}

.Header .movieLogo {
  height: 2.5rem;
}

.Header .movie {
  color: #22303c;
  text-decoration: none;
}

.Header .hub {
  color: white;
}

.Header ul {
  padding: 0;
}

.Header ul li {
  display: inline;
  list-style-type: none;
}

.Header li {
  padding-left: 10px;
}

.Header .pipe {
  padding-left: 10px;
}

.Header .watchListCount {
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(21, 32, 43);
  background: linear-gradient(90deg, rgba(21, 32, 43, 1) 0%, rgba(34, 48, 60, 1) 35%, rgba(34, 48, 60, 1) 65%, rgba(21, 32, 43, 1) 100%);
  margin-bottom: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
  text-align: center;
}

.searchButton {
  display: inline;
}

.toggleSearch {
  color: #289fed;
  cursor: pointer;
}

.toggleSearch:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

/* select#genre {
  width: auto;
}

select#rating {
  width: auto;
} */

.addWatchList {
  background-color: black;
}

.inWatchList {
  background-color: #289fed;
}

.Movie {
  margin: 15px 15px;
  background-color: #192734;
  box-shadow: 0 0 20px black;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding-bottom: 1rem;
}

.Movie:hover {
  transform: scale(1.02);
}

.Movie img {
  min-height: 430px;
  max-width: 100%;
}

.Movie .Title {
  font-weight: bold;
  font-size: 1rem;
  word-wrap: break-word;
}

.Movie .bottomContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.Movie .Rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
  border: #15202b 2px solid;
}

.Movie .RatingInner {
  background-color: #15202b;
  border-radius: 50%;
  padding: 10px;
  min-width: 25px;
  height: 25px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Movie .Percent {
  font-size: 0.65rem;
  font-weight: normal;
}

.Movie button {
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  width: 55px;
  height: 55px;
  margin: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
  font-weight: bold;
}

.Results {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.WatchList {
  margin-top: 20px;
}

.watchListContainer {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.attribution {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 300px) {
  .Header ul {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .Header {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .Header ul {
    margin: 0.5rem 0;
  }

  .Header h2 {
    font-size: 1rem;
  }

  .Header .logoContainer {
    margin-top: 0.5rem;
  }

  .Header ul li:first-child {
    padding-left: 0;
  }

  .Movie {
    margin: 1rem 0;
  }

  .Movie img {
    min-height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .Search {
    background-color: #22303c;
    /* box-shadow: 0 0 20px black; */
    padding: 20px;
  }
}
