h1 {
  text-align: center;
  margin-top: 0px;
}

h2 {
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  font-size: larger;
  top: 0;
  background-color: #22303c;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  box-shadow: 0 0 20px black;
}

.Header .logo {
  background-color: #289fed;
  border-radius: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
}

.Header .movie {
  color: white;
  text-decoration: none;
}

.Header .hub {
  color: white;
}

.Header ul {
  padding: 0;
}

.Header ul li {
  display: inline;
  list-style-type: none;
}

.Header li {
  padding-left: 10px;
}

.Header .pipe {
  padding-left: 10px;
}

.Header .watchListCount {
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #22303c;
  box-shadow: 0 0 20px black;
  margin: 40px;
  padding: 20px 20px 30px 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
}

.Search button {
  background-color: #8899a6;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 0 20px black;
}

.Search button:hover {
  background-color: black;
  transition: 0.2s;
  border-radius: 2px;
}

button {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

select#genre {
  width: auto;
}

select#rating {
  width: auto;
}

input#score {
  width: auto;
}

.addWatchList {
  background-color: black;
}

.inWatchList {
  background-color: #289fed;
}

.Movie {
  margin: 15px 15px;
  background-color: #192734;
  box-shadow: 0 0 20px black;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding-bottom: 1rem;
}

.Movie:hover {
  transform: scale(1.02);
}

.Movie img {
  min-height: 430px;
  max-width: 100%;
}

.Movie .Title {
  font-weight: bold;
  font-size: 1rem;
  word-wrap: break-word;
}

.Movie .bottomContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.Movie .Rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
  border: #15202b 2px solid;
}

.Movie .RatingInner {
  background-color: #15202b;
  border-radius: 50%;
  padding: 10px;
  min-width: 25px;
  height: 25px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Movie .Percent {
  font-size: 0.65rem;
  font-weight: normal;
}

.Movie button {
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  width: 55px;
  height: 55px;
  margin: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
  font-weight: bold;
}

.Results {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.WatchList {
  margin-top: 20px;
}

.watchListContainer {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.attribution {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 300px) {
  .Header ul {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .Header {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .Header .logo {
    margin-top: 0.5rem;
  }

  .Header ul li:first-child {
    padding-left: 0;
  }

  .Movie {
    margin: 1rem 0;
  }

  .Movie img {
    min-height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    margin: 0px;
  }

  .Search {
    background-color: #22303c;
    box-shadow: 0 0 20px black;
    margin: 30px;
    padding: 20px;
    height: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  select#genre {
    width: 100%;
  }

  select#rating {
    width: 100%;
  }

  input#score {
    width: 98%;
  }

  .Search button {
    display: flex;
    margin: 25px auto 0px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1190px) {
  h1 {
    margin: 0px;
  }

  .Search {
    background-color: #22303c;
    box-shadow: 0 0 20px black;
    margin: 30px;
    padding: 5px 100px;
    height: 225px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    align-items: stretch;
  }

  div.genre {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
  }

  select {
    width: 110px;
  }

  div.rating {
    display: flex;
    justify-content: space-between;
  }

  div.score {
    display: flex;
    justify-content: space-between;
  }

  input#score {
    width: 108px;
  }

  .Search button {
    display: flex;
    margin: 25px auto 0px;
  }
}
